{% extends 'layout.html' %}
{% block title %} Cart {% endblock %}
{% block body %}
<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <p><span class="h2">Shopping Cart </span></p>
          {% for user in cart %}
          <div class="card mb-4">
            <div class="card-body p-4">
              {% set sum = namespace(value=0) %}
              {% set seller = namespace(value="") %}
              {% for item in user %}
              {% set seller.value = item.5 %}
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="{{ item.8 }}" class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Name</p>
                    <p class="lead fw-normal mb-0">{{ item.9 }}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <p class="lead fw-normal mb-0">{{ item.3 }}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">Rp {{ item.10 }}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2"></p>
                      <a href="/hapuscart/{{ item.0 }}" class="btn btn-danger btn-xs"
                            onclick="return confirm('Yakin ingin hapus?')">Hapus</a>
                      <p class="lead fw-normal mb-0"></p>
                    </div>
                  </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">Rp {{ item.3 * item.10 }}</p>
                    {% set sum.value = sum.value + item.3 * item.10 %}
                  </div>
                </div>
              </div>
              {% else %}
          {% endfor %}
            </div>
          </div>
          
          <div class="card mb-5">
            <div class="card-body">
  
              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">
                    {{ sum.value }}
                  </span>
                </p>
              </div>
  
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <form action="{{ url_for('checkout') }}" method="POST">
              <input type="hidden" name="id" value="{{ seller.value }}">
              <button class="btn btn-dark btn-lg mb-5" style="border-radius: 0 !important;" type="submit">Check Out</button>
            </form>
          </div>
          {% else %}
          <h3>Keranjang anda kosong!</h3>
      {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}